In [5]:
import pandas as pd
import numpy as np

In [14]:
class DataGenerator:
    def __init__(self,
                 num_blocks=50):

        self.num_blocks = num_blocks
        self.df = pd.read_excel('../data/블록-계획데이터(예제)_수정.xlsx')

    def generate(self):
        columns = ["Block_Name", "Block_ID"]

        df_blocks = []

        for j in range(self.num_blocks):
            # 블록 이름과 id 생성
            name = "J-%d" % j
            id = j

            # 공종 명칭 생성
            process_type =

            # 선종과 블록 타입 생성
            ship_type =
            block_type =

            row = [name, id, process_type, ship_type, block_type]
            df_blocks.append(row)

        df_blocks = pd.DataFrame(df_blocks, columns=columns)

        return df_blocks

In [15]:
generator = DataGenerator()
df_blocks = generator.generate()
df_blocks

   Block_Name  Block_ID
0         J-0         0
1         J-1         1
2         J-2         2
3         J-3         3
4         J-4         4
5         J-5         5
6         J-6         6
7         J-7         7
8         J-8         8
9         J-9         9
10       J-10        10
11       J-11        11
12       J-12        12
13       J-13        13
14       J-14        14
15       J-15        15
16       J-16        16
17       J-17        17
18       J-18        18
19       J-19        19
20       J-20        20
21       J-21        21
22       J-22        22
23       J-23        23
24       J-24        24
25       J-25        25
26       J-26        26
27       J-27        27
28       J-28        28
29       J-29        29
30       J-30        30
31       J-31        31
32       J-32        32
33       J-33        33
34       J-34        34
35       J-35        35
36       J-36        36
37       J-37        37
38       J-38        38
39       J-39        39
40       J-40        40
41       J-41        41
42       J-42        42
43       J-43        43
44       J-44        44
45       J-45        45
46       J-46        46
47       J-47        47
48       J-48        48
49       J-49        49